secrets.yaml
tts/
*.token
*.pem
*.db
*.log
.HA_VERSION
.uuid
.fuse_hidden*
fitbit.conf
nest.conf
google_calendars.yaml
known_devices.yaml
OZW_Log.txt

pyozw.sqlite

plex.conf

upsmychoice_cookies.pickle

ocr.png

.ios.conf

emulated_hue_ids.json

options.xml

zwcfg_0xf2305c42.xml

zwscene.xml
